.button {
    width: 100%;

    &_wrapper {
        padding: 16px;
    }
}
.dragon_fruit {
    width: 128px;
    height: 128px;

    &_wrapper {
        padding: 120px 0;
    }
}
.nav_icon {
    width: 36px;
    height: 36px;
    position: relative;
    top: 2px;
}