:root {
    --welcome-card-bg: white;
    --welcome-text: white;
    --z-index-bottom-nav: 8;
    --z-index-overlay: 16;
    --welcome-bg-start: #4C48D9;
    --welcome-bg-end: #5A86BF;
    --welcome-nav-height: 64px;
    --welcome-nav-gap: 8px;
    --transition-duration: 0.3s;
    --button-bg: #5061BF;
    --button-text: white;
    --button-text-font-size: 18px;
    --button-hover-shadow-color: var(--welcome-bg-start);
    --button-radius: 8px;
    --button-height: 48px;
    --float-button-text: #fff;
    --float-button-bg-color: var(--button-bg);
    --navbar-bg-start: var(--welcome-bg-start);
    --navbar-bg-end: var(--welcome-bg-end);
    --navbar-text: #fff;
    --overlay-mask-bg: rgba(0, 0, 0, 0.5);
    --overlay-bg: white;
    --overlay-user-bg: var(--welcome-bg-start);
    --overlay-user-text: white;
    --top-safe-area-height: 24px;
    --tabs-bg: var(--navbar-bg-end);
    --tabs-text: white;
    --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
    --input-pad-date-icon-fill: #4c48d9;
    --input-pad-date-text: #999;
    --input-pad-amount-text: #4c48d9;
    --input-pad-button-border-color: #ddd;
    --input-pad-button-bg: #fff;
    --input-pad-importnt-button-text: #fff;
    --input-pad-important-button-bg: var(--button-bg);
}